.obox{
    border: solid 1px;
    height: 600px;
    background-image :url(bg1.jpg);
    background-repeat: no repeat;
    background size: 120px 500px;


}
#CAFE{
    color: antiquewhite;
    font-size: 100px;
    text-align: center;
    padding-top:170px ;

}
#register,#login{
    width: 200px;
    height: 50px;
    background-color: aquamarine;
}
#register{
    margin-left: 350px;
}
#register a,#login a{
    color: blue;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;

}
#register:hover{
    background-color: blueviolet;
}
#login:hover{
    background-color: blueviolet;
}
